@media screen and (max-width: 1000px) {
    .personEvaluateContent{
        width:100%;
        height:1300px;
        background:url("../../images/bg-02.jpg") no-repeat center;
    }
    /*第一个工作经历*/
    .personEvaluateBoxOne{
        width:48%;
        height:1130px;
        position: absolute;
        background-color: white;
        opacity: 0.7;
    }
    .personEvaluateBoxDoubleOne{
        width:45%;
        height:1130px;
        position: relative;
    }
    /*第二个工作经历*/
    .personEvaluateBoxTwo{
        width:48%;
        height:1130px;
        background-color: white;
        margin-top: -1130px;
        position: absolute;
        margin-left: 50%;
        opacity: 0.7;
    }
    .personEvaluateBoxDoubleTwo{
        width:45%;
        height:1130px;
        margin-top: -1130px;
        position: relative;
        margin-left: 50%;
    }
}