<div ng-controller="personDataController as Ctrl" class="personDataBox">

    <!--头像文字部分-->
    <div class="personDataContent">
        <!--头像部分-->
        <div class="personDataImg"><img src="../images/me.jpg" width="100%" height="100%" alt="me"/></div>

        <!--个人资料部分-->
        <div class="myData"></div>
        <div class="myDataBox">
            <table>
             <tr>
                    <td><span id="tdone">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</span><span id="tdtwo">李开吉</span></td>
                    <td><span id="tdone">性&nbsp;&nbsp;&nbsp;&nbsp;别：</span><span id="tdtwo">男</span></td>
             </tr>
            <tr>
                <td><span id="tdone">出 生 年 月：</span><span id="tdtwo">1994.03</span></td>
                <td><span id="tdone">籍&nbsp;&nbsp;&nbsp;&nbsp;贯：</span><span id="tdtwo">重庆铜梁 </span></td>
            </tr>
            <tr>
                <td><span id="tdone">身&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;高：</span><span id="tdtwo">174cm </span></td>
                <td><span id="tdone">年&nbsp;&nbsp;&nbsp;&nbsp;龄：</span><span id="tdtwo">23</span></td>
            </tr>
            <tr>
                <td><span id="tdone">学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历：</span><span id="tdtwo">本科</span> </td>
                <td><span id="tdone">专&nbsp;&nbsp;&nbsp;&nbsp;业：</span><span id="tdtwo">软件工程 </span></td>
            </tr>
            <tr>
                <td><span id="tdone">政 治 面 貌：</span><span id="tdtwo">共青团员</span></td>
                <td><span id="tdone">手&nbsp;&nbsp;&nbsp;&nbsp;机：</span><span id="tdtwo">15108227743</span></td>
            </tr>
            <tr>
                <td><span id="tdone">电 子 邮 箱：</span><span id="tdtwo">1104310490@qq.com</span></td>
            </tr>
            <tr>
                <td><span id="tdone">在 读 院 校：</span><span id="tdtwo">重庆第二师范学院数学与信息工程系</span></td>
            </tr>
            </table>
        </div>
    </div>

</div>

<script>
    //阻止事件
    function zuzhi(e){
        if(e.stopPropagation){
            e.stopPropagation();
        }
        else{
            e.cancelBubble=true;
        }
    }

    //响应式下拉菜单js
    document.getElementById("dropdownImg").onclick=function(e){
        zuzhi(e);
        document.getElementById("dropdownMenu").style.display="block";
        /*首页样式*/
        document.getElementsByClassName("personDataContent")[0].style.marginTop="220px";
        document.getElementsByClassName("personDataContent")[0].style.transform="rotateY(360deg)";
    };
    window.onclick=function(){
        document.getElementById("dropdownMenu").style.display="none";
        /*首页样式*/
        document.getElementsByClassName("personDataContent")[0].style.marginTop="120px";
        document.getElementsByClassName("personDataContent")[0].style.transform="rotateY(0deg)";
    }
</script>
